
footer{
    background: #000 !important;
    color: #fff !important;
  }
  
  footer a{
    color: #fff !important;
    text-decoration: none !important;
  }

  /* FOtter */
@media only screen and (max-width: 991px) {
    .expand-at-large {
        display: none;
    }
  }
  
  
  footer.footer{
    text-align: justify;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    /* background: #000000; */
    background-image: url('../images/event-bg.jpg');
    /* background-blend-mode: overlay; */
    line-height: 20px;
  }
  
  
  footer div#privacy{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  footer span.terms-policy {
    font-weight: 600;
    color: white;
  }
  
  footer .row.sticky-nav {
    position: fixed;
    margin-left: 0px;
    margin-right: 0px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }
  
  @media only screen and (min-width: 575px) {
    footer.footer {
        text-align: center;
    }
  }
  
  
  footer header{
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
  }
  
  footer .helpful-links div{
    margin-bottom: 16px;
  }
  
  footer a{
    font-size: 14px;
    color: white;
  }
  
  footer a:hover{
    color: #8f9396!important;
  }
  
  footer hr{
    border: 1px solid #8f9396;
  }
  footer.footer{
    text-align: justify;
  }
  
  footer div.center-at-lg{
    text-align: center;
  }

  @media only screen and (min-width: 992px) {

    footer header{
        font-size: 16px;
        color: white;
        margin-bottom: 16px;
    }
  
    footer .helpful-links div{
        margin-bottom: 16px;
    }
  
    footer a{
        font-size: 14px;
        color: white;
    }
  
    footer a:hover{
        color: #8f9396!important;
    }
  
    footer hr{
        border: 1px solid #8f9396;
    }
    footer.footer{
        text-align: justify;
    }
  
    footer div.center-at-lg{
        text-align: center;
    }
  
  }
  
  @media only screen and (min-width: 1200px) {
    footer section.large-footer-padding{
        min-width: 1200px;
        width: 100%;
        padding-left: 64px;
        padding-right: 64px;
        box-sizing: border-box;
        margin: 0px auto;
        text-align: center;
    }
  }
  
  @media only screen and (min-width: 1440px){
  
    footer section.large-footer-padding{
        max-width: 1296px;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        box-sizing: border-box;
        margin: 0px auto;
    }
  }
  